<!DOCTYPE html>
<html>
  <head>
    <title>Google Maps JavaScript API v3 Example: Map Simple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/JasonSanford/GeoJSON-to-Google-Maps/master/GeoJSON.js"></script>
    <script>
      var map;
      var points;
      var latlngArray = [];
      var heatmap;

      function getZones(){
          var bounds = map.getBounds();
          var content = '{"bounds" : { "type": "FeatureCollection","features": [{"type": "Feature","geometry": {"type": "Point", "coordinates": ['+bounds.getNorthEast().lng()+', '+bounds.getNorthEast().lat()+']}},{"type": "Feature","geometry": {"type": "Point", "coordinates": ['+bounds.getSouthWest().lng()+', '+bounds.getSouthWest().lat()+']}}]}}';
          $.ajax('/zones',{
            'data': content,
            'type': 'POST',
            'processData': false,
            'contentType': 'application/json' ,
            'success': function(data){
              console.log(data)
              points = GeoJSON(data.points)
              latlngArray = [];
              for(x in points){
                latlngArray.push(new google.maps.LatLng(points[x].position.lat(), points[x].position.lng()));
              }
              var pointArray = new google.maps.MVCArray(latlngArray);
              if (heatmap){
                heatmap.setMap(null);
              }
              heatmap = new google.maps.visualization.HeatmapLayer({
                data: pointArray,
                radius: 20
              });
              heatmap.setMap(map);
            }
          });
      }

      function initialize() {
        var mapOptions = {
          zoom: 13,
          center: new google.maps.LatLng(37.422304,-122.137846),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        google.maps.event.addListenerOnce(map, 'idle', function(){
          getZones();
        });
        google.maps.event.addListener(map, 'dragend', function() {
            getZones();
        });
        google.maps.event.addListener(map, 'zoom_changed', function() {
            getZones();
        });

        

      };

      

      $(function(){
          initialize();
        });

    </script>
  </head>
  <body>
    <div id="map_canvas"></div>
  </body>
</html>
